* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  width: 100%;
}

@font-face {
  font-family: t1;
  src: url(./fonts/Skyscapers.ttf);
}

.t1{
  font-family: t1;
}